<h3>Welcome, <%= @user.name %>!</h3>

<h4><%= @user.email %></h4>

<ol>
  <% @user.conferences.each do |conference| %>
  <li>
    <a href="/conferences/<%= conference.id %>">
      <p><%= conference.name %></p>
      </a>
      <p>Date: <%= conference.date %> </p>
      <p>Added by: <%= conference.user.name %> </p>
  </li>
  <% end %>
</ol>
