<h2>Edit a Conference</h2>

<form action="/conferences/<%= @conference.id %>" method="post">
  <input id="hidden" type="hidden" name="_method" value="patch">

  <label for="name">Name: </label>
  <input type="text" name="name" value="<%= @conference.name %>"><br><br>

  <label for="location">Location: </label>
  <input type="text" name="location" value="<%= @conference.location %>"><br><br>

  <label for="category">Category: </label>
  <input type="text" name="category" value="<%= @conference.category %>"><br><br>

  <label for="date">Date: </label>
  <input type="date" name="date" value="<%= @conference.date %>"><br><br>

  <input type="submit" value="Edit Conference">

</form><br><br>

<a href="/conferences/<%= @conference.id %>">
  <form action="/conferences/<%= @conference.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" id="delete" value="Delete Conference">
  </form>
</a>
