<h3>Conferences</h3>


<h4> <%= @conference.name %> </h4><br><br>

<h4> <%= @conference.location %> </h4><br><br>

<h4> <%= @conference.category %> </h4><br><br>

<h4> <%= @conference.date %> </h4><br><br>

<a href="/conferences/<%= @conference.id %>/edit">Edit Conference</a>

<a href="/conferences/<%= @conference.id %>/edit">Delete Conference</a>
