<h3>Conferences</h3>


<h4> <%= @conference.name %> </h4><br><br>

<h4> <%= @conference.location %> </h4><br><br>

<h4> <%= @conference.category %> </h4><br><br>

<h4> <%= @conference.date %> </h4><br><br>

<% if authorized_to_edit?(@conference) %>

<a href="/conferences/<%= @conference.id %>/edit">Edit Conference</a><br><br>

<a href="/conferences/<%= @conference.id %>">
  <form action="/conferences/<%= @conference.id %>" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" id="delete" value="Delete Conference">
  </form>
</a>

<% end %>
